PORT=4000
MONGODB_URI=mongodb+srv://tianhernandez2310_db_user:mEWzcJAm5kxWTsYL@cluster0.s52qrn3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=pluscargo_logging
GAS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbzZfJOBgdl9X73u7TetOjDUAFewG-ZlqOs8MOU9A8cog70nh4QWRp2SYDx5RxIoinPy/exec
DRIVE_PARENT_FOLDER_ID=1tDUFtD6N88TAFVQgl-nvzWMS5BGiMW0e
